<!DOCTYPE html>
<head>
    <title>THIS IS THE TITLE</title>
</head>
<body>
    <h1>Name: {{config.name}}</h1>
    <div>Number of sheds: {{config.num_of_sheds}}</div>
    <div>And now for something <span style="color:green">{{config.something}}</span></div>
</body>